{% extends 'main/basic.html' %} 
{% block content %}
<div class="my-3">
  <div class="container my-1 border pb-3 col-6 border-primary bg-light">
    <h2 class="text-muted mx-2 pt-3" style="text-align:center;">
    <div class="text-uppercase">{{ object.title }}</div>
    </h2>    
  <h6><p class="mb-3 mt-2 ms-2 py-3 border-bottom border-top"><strong>Description :</strong> {{ object.description}}</p></h6>
  {% if user.profile.br %}
    <a href="{% url 'ancmnt-update' object.id%}"
            ><button class="m-2 btn btn-info">Update</button></a
          >
    <a href="{% url 'ancmnt-delete' object.id%}"
            ><button class="m-2 btn btn-danger">Delete</button></a
          >
  {% endif %}
  </div>  
</div>
{% endblock content %}