{% extends "social/basic.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row justify-content-around">
    <div class=" container col-6 border">
        {% for post in posts %}
            <div class="container my-3 bg-light border ">
                <div class="d-flex py-2 mb-2 border-bottom">
                    <img src="{{post.author.avatar.url}}" class="rounded-circle z-depth-2" alt="{{user.profile.name}}" style="width:12%;height:12%; display:inline-block;">
                    <a href="#" class="text-dark pt-2 ps-2 flex-grow-1"><h3>{{post.author.name}}</h3></a>
                    <i class='bx bx-dots-vertical-rounded pt-2 bx-sm'></i>
                </div>
                <p class="text-break border-bottom pb-1">On {{post.updated}}</p>
                <p class="text-break">{{post.author.name}} : {{post.content}}</p>
                {% if post.image %}
                    <img src="{{post.image.url}}" class="z-depth-2" alt="{{user.profile.name}}" style="width:100%;">
                {% endif %}
                <div class="d-flex py-2 mb-2">
                    <i id="like" onclick="Nolike()" class='bx bx-sm mx-2 bx-heart' style="display:block;"></i>
                    <i id="liked" onclick="Like()" class='bx bx-sm mx-2 bxs-heart' style="display:none;"></i>
                    <i class='bx bx-sm mx-2 bx-comment-add'></i>
                    <i class='bx bx-sm mx-2 bx-share flex-grow-1'></i>
                    <i class='bx bx-sm mx-2 bx-add-to-queue'></i>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-4 border" style="height:10%;">
    <h5 class="text-center pt-3">Create New Post</h5>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
            <div class="border py-2 px-2">
                {{ p_form|crispy }}
            </div>
            </fieldset>
            <div class="form-group my-2">
            <button class="btn btn-outline-info" id="update" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block script %}
    const nolike = document.getElementById("like");
    const like = document.getElementById("liked");
    function Nolike () {
        if (nolike.style.display !== "none") {
            nolike.style.display = "none";
        } else {
            nolike.style.display = "block";
        }
        if (like.style.display !== "none") {
            like.style.display = "none";
        } else {
            like.style.display = "block";
        }
    };
    function Like () {
        if (nolike.style.display === "none") {
            nolike.style.display = "none";
        } else {
            nolike.style.display = "block";
        }
        if (like.style.display === "none") {
            like.style.display = "none";
        } else {
            like.style.display = "block";
        }
    };
{% endblock %}